.divMain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.divSelects{
  justify-content: space-between;
}

.select{
  background-color: rgb(11, 173, 2);
  color: white;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  border-radius: 6px;
  font-weight: 700;
}

.listItem {
  border-bottom: 2px solid #1d1d1d; /* Línea debajo de color 303030 */
  border-radius: 5px;
}


.listItem:hover{
  background-color: #303030;
}

.listItem:hover .playIcon{
  display: block;
}

.playIcon{
  display: none;
}

.logout {
  cursor: pointer;
  color: #0BAD02;
  font-weight: bold;
}

.header .logout:hover {
  color: #09a201;
}

.header .logout:hover {
  color: #09a201;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}